.header
  .header__text
<<<<<<< HEAD
  
= render partial: 'shared/side_bar'
.main
  .main__groups
    .main__groups-name
      = @group.name
    .main__groups-member
      Member:
      - @members.each do |member|
        = member
    .main__groups-button
      =link_to 'edit', class: "main__groups-button__text" do
        EDIT
  .main__message__box
    = render partial: 'message', collection: @messages
  .main__form
    .form-wrapper
      .input-field
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'form__message', placeholder: 'type a message'
          .form__mask
            = f.label :image, class: 'form__mask__image' do
              = fa_icon 'picture-o', class: 'icon'
              = f.file_field :image, class: 'hidden'
          = f.submit 'Send', class: 'form__submit'
=======
    グループを作成しました
= render partial: 'shared/side_bar'
-# .side
-#   .side__users
-#     = current_user.name
-#     .side__users-cog
-#       = link_to edit_user_path(current_user) do
-#         = fa_icon 'cog'
-#     .side__users-edit
-#       = link_to new_group_path(current_user) do
-#         = fa_icon 'edit'
-#   .side__groups
-#     - current_user.groups.each do |group|
-#       = link_to '#' do
-#         .side__groups-name
-#           = group.name
-#         .side__groups-message
-#           メッセージはまだありません。
.main
  .main__groups
    .main__groups-name
      グループ名
    .main__groups-member
      メンバー
    .main__groups-button
      =link_to "#", class: "main__groups-button__text" do
        EDIT
  .main__messages
    .main__messages-user
      ユーザー１
    .main__messages-date
      2019/10/14
    .main__messages-message
      ありがとう
  .main__form
    .form-wrapper
      .input-field
        %input#message.input-field__box{:name => "message", :placeholder => "type a message", :type => "text"}
        %label.input-field__icon{for: "upload-icon"}
          = fa_icon 'image'
          %input{:class => "input-field__post", :type => "file", :id => "upload-icon"}
      %button{:name => "send", :type => "submit", :value => "value"} SEND
    
>>>>>>> master
